---
---
<div class="vip-bar" id="vip-bar" role="button" tabindex="0" aria-label="Open VIP levels">
  <div class="vip-bar-top">
    <div class="vip-level-info">
      <div class="vip-badge">37</div>
      <div class="vip-level-text">
        <h2>Diamond III</h2>
        <span>Level 37 / 100</span>
      </div>
    </div>
    <div class="vip-xp-text">
      6,720 / 10,000 XP<br/>
      <span>Next: Diamond IV</span>
    </div>
  </div>
  <div class="vip-progress-track">
    <div class="vip-progress-fill">
      <div class="vip-progress-shine"></div>
    </div>
  </div>
  <div class="vip-bar-hint">[ Click to view VIP levels ]</div>
</div>
